@model Web.Models.SuggestedRoutesViewModel

@{
    ViewBag.Title = "Suggested Routes";
}

<fieldset>
    <legend></legend>
    <div>
        @if (Model.BestClimb != null)
        {
            <div class="display-label">
                @Html.DisplayNameFor(model => model.BestClimb)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.BestClimb)
            </div>
            <p>Here are some climbs of a similar difficulty level</p>
        }
        else
        {
            <p>We don't have any climbs on file for you, here are some easy ones</p>
        }
    </div>

    <div>
        <div class="display-label">
            @Html.DisplayNameFor(model => model.SuggestedRoutes)
        </div>
        <br/><br/>
        @Html.DisplayFor(model => model.SuggestedRoutes)
    </div>
</fieldset>