@{
    ViewBag.Title = "Climbr";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
            </hgroup>
            <p>
                Track your climbing!
            </p>
        </div>
    </section>
}

<ol class="round">
    <li class="one">
        <h5>Add Locations</h5>
        Add a loocation for your climbing gym. @Html.ActionLink("Click Here", "Index", "Location")
        </li>

    <li class="two">
        <h5>Add Routes</h5>
        Add entries for the routes that you climb. @Html.ActionLink("Click Here", "Index", "Routes")
    </li>

    <li class="three">
        <h5>Add Your Climbs</h5>
        Track your climbs to see your progress. @Html.ActionLink("Click Here", "Index", "Climb")
    </li>
</ol>
