@model Web.Models.Climb

@{
    ViewBag.Title = "Delete Climb";
}

<h2>Delete Climb</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Climb</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Succeeded)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Succeeded)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
