@model Web.Models.Climb

@{
    ViewBag.Title = "Climb Details";
}

<h2>@ViewBag.Title</h2>

<fieldset>
    <legend>Climb</legend>
    @*TODO: Fill in*@
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Succeeded)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Succeeded)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
